services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-frontend
    volumes:
      - ./dist:/app/dist
    networks:
      - app-network

networks:
  app-network:
    external: true
