services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-frontend
    ports:
      - "4200:80"
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - app-network

networks:
  app-network:
    external: true
